body{
  background-color: aliceblue;
}

.App{
  background-color: aqua;
  width: 400px;
  min-height: 500px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}


#to-do-form input{
  border: 0;
  width:200px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  background-color: lightseagreen;
  border-radius: 10px;
  color:#FFFFFF;
}

/* focus on outline box will be none */
#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}

#to-do-form input::placeholder{
  color: #FFFFFF;
}

#to-do-form button{
  border: 0;
  width:80px;
  height:50px;
  border-radius: 5px;
  font-weight: bolder;
  cursor:pointer;
  background-color: magenta;
  color: #FFFFFF;
}