.list{
    color:#fff;
    width:300px;
    background-color: lightcoral;
    height:50px;
    margin:20px auto;
    border-radius: 5px;
}

.list p{
    padding: 10px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.list p input{
    border: 0;
    background-color: transparent;
    color: #fff;
}

.list p input:focus{
    outline: none;
}